/** places stylr **/
.places article{
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    width: 390px;
    display: flex;
    flex-wrap: wrap;
}
.places{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.places h1{
    font-size: 30px;
    margin : 40px 0 5px 20px;
    width: 100%;

}
.places article h2{
    font-size: 30px;
    text-align: center;
    margin: auto;
}